* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: white;
}

#logo {
    margin-left: 5vw;
}

#button {
    margin-right: 5vw;
    background-color: orangered;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 10vh;
}

button {
    background-color: orangered;
    width: 8vw;
    height: 2.3vw;
    color: white;
    border: none;
}

#menu a {
    color: gray;
    text-decoration: none;
}

#menu-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    width: 5vw;
    height: 6vw;
    color: white;
}

#menu-home a {
    color: white;
}

#banner  {
    background-image: url("./vixenlogistica.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    filter: brightness(0.2);
}



